<div class="container">
  <ul>
    <li><a href="/secret_page">Profile</a></li>
    <li><a href="/create_url">Generate another url?</a></li>
  </ul>
  <h1>Here's your URL</h1>
  <p>Click on link belooooow.</p><br>
  <!-- http://127.0.0.1:9393/ -->
  <a href='http://localhost:9393/<%= @sh_url %>'>http://127.0.0.1:9393/<%= @sh_url %></a>
  <p>Click count is: <%= @count %></p>
</div>
