<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Enter your username and password</p>
  <form action="/login" method="post">
    <input type="email" placeholder="Email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value="log in!">
  </form>
  <p>Sign Up:</p>
  <form action="/signup" method="post">
    <input type="text" placeholder="First Name" name="first_name">
    <input type="text" placeholder="Last Name" name="last_name">
    <input type="email" placeholder="Email" name="email">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Sign Up!">
  </form>

</div>
