<div class="container">
  <h1>Welcome to your secret page!</h1>
  <ul>
    <li><a href="/create_url">Generate a new URL</a></li>
    <li><a href="/signout">Sign Out</a></li>
  </ul>
  <p>All your shortened urls:</p>
  <dl><% @urls.each do |url| %>
    <dt><%= url.url %></dt>
      <dd><a href='http://localhost:9393/<%= url.short_url %>'>http://localhost:9393/<%= url.short_url%></a> <%= url.click_count %></dd>
    <% end %>
  </dl>


</div>

